.App {
  text-align: center;
  background-color: rgb(0, 200, 255);
}

.App-header {
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.nav{
  position: relative;
    min-height: 4.2rem;
    margin-bottom: 0px;
    background-color: rgb(44, 42, 42);
    padding: 4px;
    display: flex;
    /* justify-content: space-between; */
}
button{
  margin: 0rem;
}

.container{
  height: 90vh;
  display: flex;
  padding-top: 1rem;
  padding-left: 5rem;
  border: 1rem solid gold;
  flex-direction: column;
  align-items: center;
}

.Todo{
  padding: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(230deg,rgb(15, 14, 15),rgb(126, 5, 5));
}

h1{
  margin: 0;
  padding-bottom:1rem;
  color: goldenrod;
}

h3{
  margin: 0;
  padding: auto;
  color:aqua;
}

.insert{
  display: flex;
  justify-content: space-around;
  width: 450px;
  margin-top: 1rem;
}

.alltodos{
  overflow-y: scroll;
  margin: 10px;
  padding: 0;

}

label{
  color: greenyellow;
  
}

#inputTodo{
  height: 45px;
}

::-webkit-scrollbar {
  display: none;
}

.singletodo{
    border-radius: 50px;
    margin: 10px 0;
    background-color: rgb(26, 4, 31);
    padding: 8px 15px;
    display: flex;
    width:450px;
    align-items: center;
    color: white;
}

.todotext{
  flex: 1;
}

.main{
  background-color: coral;
}

@media Screen and (max-width: 640px) {
  .alltodos div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .singletodo {
    margin-right: 0;
  }
}

